/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

/* first section */
.container {
    padding: 20px 100px 20px 100px;

}

.banner {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: black;
    border-radius: 20px;

}

.first-text {
    color: aliceblue;
    margin-left: 90px;
}

h1 {
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: 20px;

}

#pragrap {
    color: grey;
    margin-top: 0%;
}

.messi {
    margin-top: 100px;
}

.watch-live {
    background-color: #e30f0f;
    margin: 20px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 5px;


}

/* second section  */



header {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 20px 100px 20px 100px;
}



.button-box {
    display: grid;
    align-items: center;
    padding-left: 20px;
    background-color: black;
    height: 312px;
    width: 220px;
    left: 140px;
    top: 826px;
    border-radius: 10px;

}

.match-button {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    height: 30px;
    width: 174px;
    left: 209px;
    top: 873px;
    border-radius: 10px;

}

.group-button {
    font-size: 20px;
    height: 30px;
    width: 174px;
    left: 209px;
    top: 873px;
    border-radius: 10px;

}

.blog-button {
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    height: 30px;
    width: 174px;
    left: 209px;
    top: 873px;
    border-radius: 10px;

}



.conteiner-2 {
    display: grid;
    grid-template-columns: repeat(3, 3fr);


}

.match-videos {
    background-color: aliceblue;
    border: solid 1px gainsboro;
    border-radius: 5px;
    width: 312px;
    height: 320px;
    margin: 10px;
}

.transfer-button {
    padding-top: 5px;
}

.icons {
    display: flex;
    color: rgb(169, 164, 164);

}

.times {
    margin-left: 20px;
    padding-right: 40px;

}


/* footer aria  */

.last-conteiner {
    background-color: rgb(1, 1, 13);
    padding: 60px;
}



.goal {
    color: white;
    align-items: center;
    text-align: center;
    padding: 20px;
}

hr {
    color: grey;
}

.contact {
    display: flex;
    justify-content: center;
    color: white;

    padding: 50px;
}

.contact,
h4 {

    padding-left: 50px;
}

.icon-box {
    color: blue;
    font-size: 60px;
    text-align: center;
    padding-bottom: 3%;

}

/*-------- Media Queri------ */

/* for mobail  */

@media only screen and (max-width:688px) {

    .container {
        padding: 0%;
        margin: 0%;

    }

    .banner {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-columns: repeat(1, 1fr);
        width: 390px;
    }

    .first-text {
        width: 300px;
        justify-content: center;
    }

    .messi {


        width: 5px;
    }

    .button-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .conteiner-2 {

        grid-template-columns: repeat(1, 1fr);
        width: 450px;
    }


    header {
        grid-template-columns: repeat(1, 1fr);
        width: 390px;
        padding: 0%;
    }

    .footer {
        width: 100%;

    }

    .last-conteiner {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact {
        grid-template-columns: repeat(1, 1fr);
    }

}


/* ------for tablet ------ */


@media only screen and (max-width:1023px) and (min-width:688px) {

    .container {
        padding: 0%;
        margin: 0%;
        width: 912px;
    }

    .banner {
        grid-template-columns: 25% 75%;
        display: grid;
        width: 912px;
    }

    .container-1 {
        gap: 10%;
    }

    .button-box {
        padding: 7%;
    }

    .conteiner-2 {

        grid-template-columns: repeat(2, 1fr);
        width: 912px;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
        width: 912px;
        padding: 0%;
    }




}